.box1{
    height: 200px;
}
.van{
    width: 378px;
}
.container{
    border: 1px solid black;
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    justify-content: center;
}
.title{
    width: 382.16px;
}
