.container{
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 500px;
    text-align: center;
    margin-left: 380px;
    margin-top: 100px;
   
   
}

button{
    background-color: rgb(236, 14, 25);
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
    
   
}
.border{
    border: 5px solid grey ;
    border-radius: 30px;
}
.name{
    color: rgb(228, 148, 148);
}
body{
    background-color: beige;
}

